<div>
    <br>
    <mat-card>
        <section class="mat-typography">
            <h3> Crear User-Rol</h3>
        </section>
        <mat-divider> </mat-divider>
            <br>
            
            <form [formGroup]="createForm" class="edit-form">
                   
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="IdUser" formControlName="idUser" #idUser>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="idRol" formControlName="idRol" #idRol>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="status" formControlName="status" #status>
                </mat-form-field> 
                <mat-divider></mat-divider>
                <br><br>
                <button mat-raised-button color="danger" routerLink="/usersroles/list">Regresar</button>&nbsp;
                <button type="submit" (click)="createUserRol(idUser.value, idRol.value, status.value)" mat-raised-button color="primary">
                Guardar
                </button>
            </form>
       
    </mat-card>
</div>

