<div>
    <br>
    <mat-card>
        <section class="mat-typography">
            <h3> Crear Rol-Function</h3>
        </section>
        <mat-divider> </mat-divider>
            <br>
            
            <form [formGroup]="createForm" class="edit-form">
                   
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="IdRol" formControlName="idRol" #idRol>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="IdFunction" formControlName="idFunction" #idFunction>
                </mat-form-field>
                <mat-form-field class="field-full-width">
                    <input matInput placeholder="status" formControlName="status" #status>
                </mat-form-field> 
                <mat-divider></mat-divider>
                <br><br>
                <button mat-raised-button color="danger" routerLink="/rolesfunctions/list">Regresar</button>&nbsp;
                <button type="submit" (click)="createRolFunction(idRol.value, idFunction.value, status.value)" mat-raised-button color="primary">
                Guardar
                </button>
            </form>
       
    </mat-card>
</div>

